html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  overflow-x: hidden;
  overflow-y:scroll;
  background: #FF5347;
}

.node {
  background: #BAEFC5;
  float:left;
  opacity: 1;
}

a:link, a:visited {
  color:#BAEFC5;
  text-decoration: none;
  font-family: sans-serif;
}

.cta {
  text-align:center;
}

.app-header, .app-footer {
  background: #BAEFC5;
}

.app-content {
  background: #EFEFEF;
}
