@import url(https://fonts.googleapis.com/css?family=Exo:400,100,300,200,500,600,700);

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  overflow-x: hidden;
  overflow-y:scroll;
  background: #FF5347;
  font-family: 'Exo', sans-serif;
}



.rotate-node {
  background: #BAEFC5;
  float:left;
  opacity: 1;
}

h1 {
  font-weight: 100;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding-top:0.5em;
  padding-left:0.5em;
}

h2, h3, h4, h5, h6{
  font-weight: 200;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  font-weight: 600;
  color:#232323;
  text-decoration: none;
}

.cta {
  text-align:center;
}

.app-header, .app-footer {
  background: #8CFA89;
  clear:both;
}

.app-header h1 {
  padding-left:1.0em;
}

.app-footer a:link, .app-footer a:visited {
  position:relative;
  top:1em;
  left:1em;
}


.app-sidebar {
  background: #8BFABB;
}

.app-sidebar, .app-content {
  float:left;
}

.app-directory-header {
  background: #BAEFC5;
}


.app-directory-list-item {
    background: #EFAF73;
}

.app-directory-list-item a:link, .app-directory-list-item a:visited{
    display:block;
    width:100%;
    height:100%;
    color:#BAEFC5;
}

.app-carousel-container {
  width: 210px;
  height: 140px;
  position: relative;
  top:50%;
  left:50%;
  margin-top: -140px;
  margin-left: -240px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.app-carousel-btn {
  background: #EFAF73;
  width: 40px;
  height: 40px;
  position:absolute;
  top:50%;
  margin-top: -20px;
  background-repeat: no-repeat;

}

.app-carousel-btn.prev {
    left: 0;
    transform: rotateZ(90deg);
    background-image: url('img/arrow-down.svg');
    background-size: 100% 100%;

}

.app-carousel-btn.next {
    right: 0;
    transform: rotateZ(-90deg);
    background-image: url('img/arrow-down.svg');
    background-size: 100% 100%;
}

.app-carousel {

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;

  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;

}

.app-carousel-matrix {

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;

}

.app-carousel-slide-matrix {
  margin: 0;
  display: block;
  background: #8BFABB;
  text-align: center;
}

.app-carousel-slide {
  margin: 0;
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  background: #8BFABB;
  text-align: center;
}

.app-carousel-slide h3, .app-carousel-slide-matrix h3 {
  padding-top: 26px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3em;
}

.app-memo {
  color: #FFFFFF;
}

.app-memo a:link, .app-memo a:visited {
  color: #FFFFFF;
}

.pad-1 {
  padding: 1em;
}

.pad-2 {
  padding: 2em;
}

.text-center {
    text-align: center;
}

.hide-backface {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.app-content {
  background: #EFEFEF;
}
