/* Copyright © 2015-2016 David Valdman */

/* For use with the Fingers.js Samsara UI component */

.samsara-fingers {
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 50%;
    z-index: 1
}