.live-code {
	margin-top: 20px;
	margin-bottom: 50px;

	--tab-color: #0043fa;
}

.live-code.full {
	max-height: unset;
}
@media (min-width: 768px) {
	.live-code.full {
		height: calc(100vh - 340px); /* TODO we need a technique so we don't hard code this value 340px value. */
	}
}

.live-code-reset:not(.live-code-smaller *),
.live-code-rerun:not(.live-code-smaller *) {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.live-code-reset button,
.live-code-rerun button {
	border: none;
	border-bottom: 1px solid black;
	background: none;
	font-family: var(--heading-font-family);
	cursor: pointer;
	outline: none;
}

.live-code-reset button:hover,
.live-code-rerun button:hover,
.live-code-reset button:focus,
.live-code-rerun button:focus {
	background: rgba(0, 0, 0, 0.05);
	border-bottom-width: 2px;
}

.live-code-reset button:active,
.live-code-rerun button:active {
	background: rgba(0, 0, 0, 0.1);
}
