/* TODO move whatever necessary into the live-code package */

.vuep {
	/* TODO height:auto; doesn't work well, because it makes content below it appear higher than the bottom edge of the box. How can we make that work? */
	height: auto;
	max-height: 400px;
	/* height: 400px; */
}

.vuep.full {
	max-height: unset;
}
@media (min-width: 768px) {
	.vuep.full {
		height: calc(100vh - 340px); /* TODO we need a technique so we don't hard code this value 340px value. */
	}
}
@media (max-width: 767px) {
	.vuep.full {
		display: flex;
		flex-direction: column-reverse;
	}
}

.vuep-preview {
	padding: 0 !important;

	/*
     * TODO FIXME for some reason, without this, scroll bars appear, though nothing
     * appears to go beyond the boundaries of the container.
     */
	overflow: hidden;
}

.vuep-editor,
.vuep-preview {
	height: auto;
}
