.live-code.full {
	max-height: unset;
}
@media (min-width: 768px) {
	.live-code.full {
		height: calc(100vh - 340px); /* TODO we need a technique so we don't hard code this value 340px value. */
	}
}
@media (max-width: 767px) {
	.live-code.full {
		display: flex;
		flex-direction: column-reverse;
	}
}

.live-code-preview {
	padding: 0 !important;

	/*
     * TODO FIXME for some reason, without this, scroll bars appear, though nothing
     * appears to go beyond the boundaries of the container.
     */
	overflow: hidden;

	background: #f7f7f7;
	border: none;
}

.live-code-editor,
.live-code-preview {
	height: auto;
}

.live-code-rerun {
	top: 10px;
	right: 10px;
}
