/*
 * make the content full width, so it is especially easier to see the code
 * examples
 */
.markdown-section {
	max-width: unset;
}

.markdown-section h1 code {
	font-family: monospace;
	text-transform: initial;
	font-size: 0.6em;
}

.markdown-section h1 code,
.markdown-section h2 code,
.markdown-section h3 code {
	--code-inline-margin: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-radius: 0 !important;

	/* Remove bold styling from heading code, so we can bold only some parts with <b> tags */
	/* font-weight: unset; */
}

/* docsify-themeable override */
.markdown-section h1,
.markdown-section h1 * {
	/* Make the API doc page titles wrap, with padding on all line edges. https://css-tricks.com/multi-line-padded-text */
	/* display: inline !important; */
	white-space: pre-wrap !important;
	position: relative !important;
}
.markdown-section h1 {
	--code-inline-padding-sides: 20px;
	line-height: 0.75 !important;
	/* left: var(--code-inline-padding-sides); */
}

.markdown-section h1 > :first-child code,
.markdown-section h1 > code:first-child,
.markdown-section h2 > :first-child code,
.markdown-section h2 > code:first-child,
.markdown-section h3 > :first-child code,
.markdown-section h3 > code:first-child {
	padding-left: var(--code-inline-padding-sides) !important;
	border-top-left-radius: var(--code-inline-border-radius) !important;
	border-bottom-left-radius: var(--code-inline-border-radius) !important;

	/* left padding on all broken lines using box-shadow after disabling padding-left, https://css-tricks.com/multi-line-padded-text */
	padding-left: 0 !important;
	box-shadow: calc(-1 * var(--code-inline-padding-sides)) 0 0 var(--code-inline-background);
}

.markdown-section h1 > :last-child code,
.markdown-section h1 > code:last-child,
.markdown-section h2 > :last-child code,
.markdown-section h2 > code:last-child,
.markdown-section h3 > :last-child code,
.markdown-section h3 > code:last-child {
	padding-right: var(--code-inline-padding-sides) !important;
	border-top-right-radius: var(--code-inline-border-radius) !important;
	border-bottom-right-radius: var(--code-inline-border-radius) !important;

	/* left padding on all broken lines using box-shadow after disabling padding-left, https://css-tricks.com/multi-line-padded-text */
	box-shadow: calc(-1 * var(--code-inline-padding-sides)) 0 0 var(--code-inline-background);
}

/* code blocks ------------------------------------------------------ */
.markdown-section code[class*='lang-'],
.markdown-section pre[data-lang] {
	/* Disable ligatures (namely for the Space Mono font) */
	font-variant-ligatures: none;
}

/* pagination at the bottom ----------------------------------------- */
.docsify-pagination-container {
	margin: 2em 0 0 !important;
}
.pagination-item {
	margin-top: 1em !important;
	margin-bottom: 0;
	transform: translateY(8px);
}
