.sidebar,
body {
	/* Make the scrollbar draw on top of content in Webkit browsers. */
	overflow-x: hidden;
	overflow-y: auto;
	overflow-y: overlay;
}

/* Scrollbar customization: https://css-tricks.com/almanac/properties/s/scrollbar-color */
/* Override docsify-themeable's scrollbar style. {{{  */
body:not([data-platform^='Mac']) * {
	scrollbar-width: thin !important;
	/* scrollbar-color: var(--sidebar-scrollbar-thumb-color) var(--sidebar-scrollbar-background-color) !important; */
}
body:not([data-platform^='Mac']) * ::-webkit-scrollbar {
	width: var(--sidebar-scrollbar-thickness) !important;
	height: var(--sidebar-scrollbar-thickness) !important;
}
body:not([data-platform^='Mac']) * ::-webkit-scrollbar-thumb {
	/* background-color: var(--sidebar-scrollbar-thumb-color) !important; */
	border-radius: 50vw !important;
}
body:not([data-platform^='Mac']) * ::-webkit-scrollbar-track {
	/* background-color: var(--sidebar-scrollbar-background-color) !important; */
}
.sidebar-nav::-webkit-scrollbar,
.sidebar nav::-webkit-scrollbar {
	width: 0 !important;
}

/* Additional scrollbar styles */
body:not([data-platform^='Mac']) * ::-webkit-scrollbar-button {
	display: none !important;
}
body:not([data-platform^='Mac']) * ::-webkit-scrollbar-track-piece {
	/* background: var(--sidebar-scrollbar-background-color); */
	/* background: transparent !important; */
	background-color: rgba(0, 0, 0, 0) !important;
}
body:not([data-platform^='Mac']) * ::-webkit-scrollbar-corner {
	background: transparent !important;
}
.sidebar::-webkit-resizer {
	background: transparent !important;
}
/* }}} */

/* ::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	background: transparent !important;
	border-color: transparent !important;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-resizer {
	display: none !important;
}

::-webkit-scrollbar {
	width: 50px !important;
	height: 50px !important;
}
::-webkit-scrollbar-thumb {
	background: rgba(90, 90, 90, 0.3) !important;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	background: rgba(0, 0, 0, 0.05) !important;
} */
