### ignore everything
/*

### except for the following:

# folders
!/src
!/tests
!/examples

# global build, to be published
!/global.js
!/global.js.map

# config files
!/.builderrc
!/.editorconfig
!/.npmrc
!/.gitignore
!/.npmignore
!/package.json
!/babel.config.js
!/buble.config.js
!/jest.config.js
!/webpack.config.js
!/builder.config.js

# all good projects have a README!
!/README.md
