[submodule "packages/readem"]
	path = packages/readem
	url = https://github.com/lume/readem.git
[submodule "packages/docsifyjs+docsify"]
	path = packages/docsifyjs+docsify
	url = https://github.com/lume/docsify.git
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/lume/cli.git
[submodule "packages/element-behaviors"]
	path = packages/element-behaviors
	url = https://github.com/lume/element-behaviors.git
[submodule "packages/live-code"]
	path = packages/live-code
	url = https://github.com/lume/live-code.git
[submodule "packages/lowclass"]
	path = packages/lowclass
	url = https://github.com/trusktr/lowclass.git
[submodule "packages/james-bond"]
	path = packages/james-bond
	url = https://github.com/trusktr/james-bond.git
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/lume/website.git
[submodule "packages/element"]
	path = packages/element
	url = https://github.com/lume/element.git
[submodule "packages/variable"]
	path = packages/variable
	url = https://github.com/lume/variable.git
[submodule "packages/glas"]
	path = packages/glas
	url = https://github.com/lume/glas.git
[submodule "packages/eventful"]
	path = packages/eventful
	url = https://github.com/lume/eventful.git
[submodule "packages/basicss"]
	path = packages/basicss
	url = https://github.com/lume/basicss.git
[submodule "packages/custom-attributes"]
	path = packages/custom-attributes
	url = https://github.com/lume/custom-attributes.git
[submodule "packages/autolayout"]
	path = packages/autolayout
	url = https://github.com/lume/autolayout.git
[submodule "packages/kiwi"]
	path = packages/kiwi
	url = https://github.com/lume/kiwi.git
[submodule "apps/first-person-shooter"]
	path = apps/first-person-shooter
	url = https://github.com/LUMECraft/first-person-shooter.git
[submodule "packages/classy-solid"]
	path = packages/classy-solid
	url = https://github.com/lume/classy-solid.git
[submodule "packages/three-projected-material"]
	path = packages/three-projected-material
	url = https://github.com/lume/three-projected-material.git
[submodule "packages/mapapp"]
	path = apps/mapapp
	url = https://github.com/LUMECraft/mapapp.git
[submodule "apps/docs"]
	path = apps/docs
	url = git@github.com:lume/lume.github.io.git
