.DS_Store
node_modules/
package-lock.json
.vscode/
*.log

# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
