# Systemd service for the docs on the Arch Linux server.

[Unit]
Description=lume.io
After=network.target

[Service]
User=infamous
Group=infamous
WorkingDirectory=/home/infamous/lume+lume/
ExecStart=/usr/bin/env npm run docs
Restart=always
StandardOutput=syslog
SyslogIdentifier=lume-website
Environment=BLAH=blah

[Install]
WantedBy=multi-user.target
