body {
    background: black;
    margin: 0;
    font-family: Avenir Next, Helvetica;
    overflow: hidden;
}

.navItem {
    background: #222;
    color: #dddddd;
    cursor: pointer;
    font-size: 18px;
    text-shadow: 0px 0px 1px black;
}

.navItem:active {
    background: #4c4c4c;
}

.navItem:not(:first-child) {
    border-left: 4px solid black;
}

.listItem {
    background: rgb(222, 0, 222);
    /*border: 1px solid black;*/
    cursor: pointer;
    font-size: 18px;
    text-shadow: 0px 0px 1px rgba(200, 200, 200, .2);
}

.center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.vertical-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}