* {
    -webkit-user-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    background: black;
    margin: 0;
    cursor: move;
}

#fingers {
    pointer-events: none;
}

.item {
    background:magenta;
    box-shadow: 0px 0px 3px 3px #222;
    cursor: pointer;
}

.gradient {
    background-image: radial-gradient(circle, rgba(0,0,0,.9) 0%, rgba(0,0,0,.5) 60%);
    pointer-events: none;
}