* {
    -webkit-user-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

html {
    overflow: hidden;
}

body {
    font-family: Helvetica Neue, Helvetica;
    margin: 0px;
    background: black;
}

.content {
    font-size: 40px;
    color : white;
    cursor: ew-resize;
    box-shadow: -3px 3px 7px -5px black;
    background : #3651ff;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.drawer {
    color: whitesmoke;
    background: #2c2c2c;
}

.menuItem {
    text-align:center;
    font-size: 40px;
    border-top: 1px solid #404040;
    box-shadow: 0px 0px 1px black;
    text-shadow: 0px 0px 1px black;
}

.center {
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content : center;
            justify-content: center;
    display: -webkit-flex;
    display:         flex;
}

.hand {
    font-size: 60px;
    color: white;
    padding-left: 108px;
    pointer-events: none;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.nav {
    font-weight:300;
    font-size: 4vh;
}

.nav.back {
    color : #3651ff;
    padding-left: 40px;
    cursor: pointer;
    z-index: 1;
}

.nav.back:active {
    color: #8c9fff;
}

.nav.backArrow {
    padding-left: 5px;
    pointer-events: none;
    cursor: pointer;
    z-index: 1;
}

.nav.middle {
    font-weight: 500;
}

.nav.hide {
    color : #3651ff;
    padding-left: 10px;
    cursor: pointer;
}

.nav.hide:active {
    color : #8c9fff;
}

.navBackground{
    background : rgb(236, 240, 243);
    box-shadow : 0 0 5px 0 black;
    pointer-events : none;
}

@media screen and (max-width: 400px) {
    .nav.back {
        padding-left: 24px;
    }

    .content {
        font-size: 28px;
    }

    .hand {
        font-size: 40px;
        padding-left: 82px;
    }

    .menuItem {
        font-size: 30px;
    }
}