* {
    -webkit-user-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    background: black;
    overflow: hidden;
    margin: 0;
}

.page {
    color: black;
    border: 1px solid black;
    font-family: Helvetica;
    font-size: 70vh;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    text-shadow: 0px 1px 2px rgba(255,255,255,.3);
}

.arrow {
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3), 0px 0px 1px rgba(0, 0, 0, 1);
    font-size: 13vh;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
    padding : 20px;
}

.arrow:active {
    color: rgba(255, 255, 255, .6);
}

.dot {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 1;
}

.main-dot {
    background: white;
    border-radius: 50%;
    cursor: pointer;
}