* {
    -webkit-user-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
    background: black;
}

.title {
    text-align : center;
    z-index : 1;
    background : rgb(220, 220, 220);
    font-family : Helvetica;
    font-size : 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    display: flex;
    display: -webkit-flex;
    align-items : center;
    -webkit-align-items : center;
    justify-content : center;
    -webkit-justify-content: center;
    box-shadow: -20px -20px 70px 0px rgba(0,0,0,.6);
}

.tab {
    box-shadow: -20px 0px 70px 0px rgba(0,0,0,.6);
}

.close {
    font-family: Helvetica;
    color : black;
    z-index : 2;
    font-size : 20px;
    padding-left: 4px;
    cursor: pointer;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding: 5px;
}

.close:active {
    background: rgb(160, 160, 160);
}