[Unit]
Description=infamous.io
After=network.target

[Service]
User=infamous
Group=infamous
WorkingDirectory=/home/infamous/infamous/website/
ExecStart=/usr/local/bin/meteor -p 8765
Restart=always
StandardOutput=syslog
SyslogIdentifier=infamous-website
Environment=BLAH=blah

[Install]
WantedBy=multi-user.target
