body {
    background: black;
    margin: 0;
    overflow: hidden;
    font-family: Avenir Next, Helvetica;
}

.header {
    background : #111;
    color: #ddd;
    font-size: 20px;
    text-shadow: 0px 0px 1px black;
}

.content {
    background: #333;
    color: #ddd;
    font-size: 40px;
    text-shadow: 0px 0px 1px black;
}

.footer {
    background: magenta;
    font-size: 16px;
}

.center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}